Sipcot/WindowsServices/WindowsService/Service References/GenService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StoredProcedureReturnsDataset">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString_Encrypted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametersList_Encrypted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName_Encrypted" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureReturnsDataset" nillable="true" type="tns:StoredProcedureReturnsDataset" />
</xs:schema>