Sipcot/WindowsServices/WindowsService/Service References/GenService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51346/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenService" />
  <xs:element name="RunStoredProcedureReturnsDataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenService" minOccurs="0" name="ProcedureReturnsDataset" nillable="true" type="q1:StoredProcedureReturnsDataset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunStoredProcedureReturnsDatasetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunStoredProcedureReturnsDatasetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>