Sipcot/GenAPI/GenService.ServiceTest/Service References/DocumentService/Document2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52872/Document.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenServiceDataContractLibrary" />
  <xs:element name="GetDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenServiceDataContractLibrary" minOccurs="0" name="data" nillable="true" type="q1:ServiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GenServiceDataContractLibrary" minOccurs="0" name="GetDocumentInfoResult" nillable="true" type="q2:ServiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GenServiceDataContractLibrary" minOccurs="0" name="data" nillable="true" type="q3:ServiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GenServiceDataContractLibrary" minOccurs="0" name="DownloadDocumentResult" nillable="true" type="q4:ServiceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>